{% extends 'base.html' %}
{% load humanize %}
{% load append_to_get %}

{% block html_head %}
    <link rel="stylesheet" href="//rawgithub.com/ashleydw/lightbox/master/dist/ekko-lightbox.css" type="text/css" />
    <script language="javascript" src="//rawgithub.com/ashleydw/lightbox/master/dist/ekko-lightbox.js"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-2">
            <h5>Vrste oglasov:</h5>
            <ul>
                {% for idx, type in ad_types %}
                    <li>
                        {% ifnotequal t idx %} <a href="{% append_to_get t=idx %}"> {% endifnotequal %}
                            {{ type }}
                        {% ifnotequal t idx %}</a>{% endifnotequal %}
                    </li>

                {% endfor %}
            </ul>
            <h5>Regije:</h5>
            <ul>
                {% for idx, region in regions %}
                    <li>
                        {% ifnotequal r idx %} <a href="{% append_to_get r=idx %}"> {% endifnotequal %}
                        {{ region }}
                        {% ifnotequal r idx %}</a>{% endifnotequal %}
                    </li>
                {% endfor %}
            </ul>
            <h5>Vrsta zgradbe:</h5>
            <ul>
                {% for idx, building in building_types %}
                    <li>
                        {% ifnotequal b idx %} <a href="{% append_to_get b=idx %}"> {% endifnotequal %}
                        {{ building }}
                        {% ifnotequal b idx %}</a>{% endifnotequal %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-10">
        {% for ad in ads %}
            <h4><a href="http://www.nepremicnine.net/nepremicnine.html?id={{ ad.ad_id|slice:"1:" }}">{{ ad.title }}</a></h4>
            <div>
                <span class="label label-danger">{{ ad.size_m2 }} m2</span>
                <span class="label label-primary">{{ ad.price|intcomma }} EUR</span>
                <span class="label label-info">{{ ad.year_built|default_if_none:'' }}</span>
                <span class="label label-success">{{ ad.county }} / {{ ad.administrative_unit }}</span>
            </div>
            <br />
            <h5>{{ ad.short_description }}</h5>
            <p>{{ ad.description }}</p>

            <div class="row">
            {% for picture in ad.adpicture_set.all %}
                <a href="{{ picture.picture_url }}" data-toggle="lightbox" data-gallery="{{ ad.ad_id }}" data-title="{{ ad.title }}" data-footer="{{ ad.short_description }}"><img class="img-responsive img-thumbnail" style="width: 180px;" src="{{ picture.picture_url }}" /></a>
            {% endfor %}
            </div>
            <br />
            <div><h6>{{ ad.author_name }}</h6></div>
            <hr />
        {% endfor %}
        </div>
    </div>
    <div class="row text-center">
        <ul class="pagination">
            {% if ads.has_previous %}
                <li><a href="{% append_to_get p=ads.previous_page_number %}">&laquo;</a></li>
            {% endif %}
            <li><a href="#">{{ ads.number }} od {{ ads.paginator.num_pages }}</a></li>
            {% if ads.has_next %}
                <li><a href="{% append_to_get p=ads.next_page_number %}">&raquo;</a></li>
            {% endif %}
        </ul>
    </div>

    <script type="text/javascript">
        $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });
    </script>

{% endblock %}